.card {
width: 20rem;
height: 25rem;
margin-left: 30px;
margin: 20px;
border-radius: 10px;

}
.titleCard{
color:gold;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
text-decoration-line: underline;
margin-top: -15px;
font-weight: bold;
}
.text{
font-size: 13px;
color: grey;
}
.container {
    overflow: hidden;

  }
  .text-content{
    width:140%;
    height:30%;
    margin-left: -33px;
    background:rgba(0,0,0,.5);
    transform:translateY(200px);
    transition:1s ease;
    color:rgb(252, 246, 246);
    padding:1rem 1.5rem;
    text-align: left;
    box-sizing:border-box;

}

.container:hover .text-content{
    transform: translateY(0);
    
}
.container:hover .text-content .text{
    transform: translateY(0);
   
}
