.card {
width: 20rem;
height: 25rem;
margin-left: 30px;
margin: 20px;
border-radius: 10px;

}
.titleCard{
color:gold;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 18px;
text-decoration-line: underline;
margin-top: -15px;
font-weight: bold;
}
.text{
font-size: 13px;
color: grey;
}

.footer{
    display: inline-flex;
    justify-content: space-between;
}
.btn{
    margin-bottom: 10px;
    margin-left: 5px;
}

